@form-el-width: 10px;
@form-el-width-primary: @form-el-width*18;
@form-el-width-primary-small: @form-el-width*12;
@form-el-width-primary-large: @form-el-width*24;

@form-el-height: 2px;
@form-el-height-primary: @form-el-height*16;
@form-el-height-primary-small: @form-el-height*12;
@form-el-height-primary-large: @form-el-height*18;

.form-width(@size: 18) {
  width: @form-el-width* @size;
}
.form-height(@size: 16) {
  width: @form-el-height* @size;
}

.form-el-hover(@border-color) {
  border-color: @border-color;
}

.form-el-focus(@border-color) {
  border-color: @border-color;
  box-shadow: 0 0 0 2px rgba(@border-color, 0.25);
}
